@page "/editproduct/{id:int}"
@inject BlazorApp1.Data.NorthwindContext _context
@inject NavigationManager Navigation
@using BlazorApp1.Data
@using BlazorApp1.Components

<h3>Ürünü Güncelle</h3>

@if (product == null)
{
    <p><em>Yükleniyor...</em></p>
}
else
{
    <ProductForm Model="product" IsNew="false" />
}

@code {
    [Parameter]
    public int id { get; set; }

    Product? product;

    protected override async Task OnInitializedAsync()
    {
        product = await _context.Products.FindAsync(id);
        if (product == null)
        {
            Navigation.NavigateTo("/products");
        }
    }
}
